<div class="card bg-dark text-white border-light mb-3" id="box">
  <div class="card-body">
    <h4 class="card-title">Instructions</h4>
    <hr>
    <p style="font-size: 120%">
      Type your arithmetic or algebraic problems in the blank space below. The
      "Calculate" button will operate your problem just like a calculator. If you want to Evaluate
      an expression, Simplify, Derive or Rationalize an algebraic problem,
      you should see the options that drop down to the right of the "Calculate" button.
    </p>
  </div>
</div>
